@model List<Radnik>
@{
    ViewData["Title"] = "Spisak radnika";
}

<div class="text-center">
    <h1 class="display-4 mb-5">@ViewData["Title"]</h1>

    <a class="btn btn-warning btn-outline-primary float-start mb-3" asp-area="" asp-controller="ExportPDF" asp-action="Export" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
        PDF
    </a>
    <a class="btn btn-warning btn-outline-primary float-start mb-3 mx-3" asp-area="" asp-controller="ExportXLSX" asp-action="Export">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
        XLSX
    </a>
    <a class="btn btn-success float-end mb-3" asp-area="" asp-controller="Radnici" asp-action="Create">Dodaj novog radnika</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th class="text-start">Ime</th>
                <th class="text-start">Prezime</th>
                <th class="text-start">Radna Pozicija</th>
                <th class="text-end">Neto plata</br>(RSD)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var radnik in Model)
            {
                <tr>
                    <td>@radnik.Id</td>
                    <td class="text-start">@radnik.Ime</td>
                    <td class="text-start">@radnik.Prezime</td>
                    <td class="text-start">@radnik.RadnaPozicija</td>
                    <td class="text-end">@radnik.NetoPlata</td>
                    <td class="text-end">
                        <a class="btn btn-warning btn-view" data-id="@radnik.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </a>
                        <a asp-action="Edit" asp-route-id="@radnik.Id" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                        <a class="btn btn-danger btn-delete" data-id="@radnik.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkred" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal" id="detaljiModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pregled podataka o radniku</h5>
            </div>
            <div class="modal-body">
                <div id="radnikDetalji">
                    <!-- Podaci o radniku će se ovde prikazati dinamički -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="close zatvoriModal btn btn-primary" data-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
    jQuery(document).ready(function ($) {
        $(".btn-delete").click(function () {
            var radnikId = $(this).data("id");
            var confirmation = confirm("Da li ste sigurni da želite izbrisati ovog radnika?");

            if (confirmation) {
                $.ajax({
                    url: "/Radnici/Delete/" + radnikId,
                    type: "POST",
                    success: function () {
                        alert("Radnik je uspešno obrisan.");
                        // Reload strane nakon uspešnog brisanja
                        location.reload();
                    },
                    error: function () {
                        // Prikazi obaveštenje ako brisanje nije uspelo
                        alert("Brisanje nije uspelo. Molimo pokušajte ponovo.");
                    }
                });
            }
        });

        $('.btn-view').click(function () {
            var radnikId = $(this).data("id");

            // Poziv API-ja za dohvatanje podataka o radniku iz baze
            $.get(`/Radnici/GetRadnik/${radnikId}`, function (data) {
                // priprema html tela modal prozora
                // + zaokruzivanje svih cifri na 2 decimale
                var html = `Ime: ${data.ime}<br>` + 
                            `Prezime: ${data.prezime}<br>` + 
                            `Adresa: ${data.adresa}<br>` + 
                            `Radna pozicija: ${data.radnaPozicija}<br>` +
                            `Neto plata: ${data.netoPlata.toFixed(2).toLocaleString('de-DE')} RSD<br>` + 
                            `Bruto plata: ${data.brutoPlataRSD.toFixed(2).toLocaleString('de-DE')} RSD<br>` + 
                            `Konverzija bruto plate u EUR: ${data.brutoPlataEUR.toFixed(2).toLocaleString('de-DE')} EUR<br>` + 
                            `Konverzija bruto plate u USD: ${data.brutoPlataUSD.toFixed(2).toLocaleString('de-DE')} USD`;

                // Prikazivanje podataka u modalu
                var modalBody = $('#radnikDetalji');
                modalBody.html(html);

                $('#detaljiModal').modal('show');
            });
        });

        $('.zatvoriModal').click(function () {
            $('#detaljiModal').modal('hide');
        });

    });
    </script>
}